.asset_head > th {
    color: #333333e0;
}

.homebase_field {
    font-weight: bold;
}

.no-click {
    pointer-events: none;
}

.col-xs-14 {
    width: 14.285714286%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.add-client-modal .col-xs-14 {
    width: 15%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-28 {
    width: 7.142857143%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.tab-pane > div, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #8ff1fd17;
}

.upload-asset-image {
    position: relative;
    cursor: pointer;
}

.asset-image {
    height: 100%;
    width: 11vw;
}
