div > button {
    margin: 1%
}

.col-xs-10 {
    width: 11%;
    float: none;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-13 {
    width: 13%;
    float: none;
    padding-right: 5px;
    padding-left: 5px;
}

#welcome-page .btn {
    white-space: normal;
    font-size: 1.8vh;
    height: 6vh;
    border-radius: 5px;
    width: 9vw;
}

body {
    background-image: url(https://cpd.powersellingtools.com/wp-content/uploads/2019/09/AST-Promo-1-min.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-dialog-content {
    background: transparent;
}

#welcome-page .btn-secondary {
    background-color: #b3b3b3 !important;
}

/*.btn-secondary {*/
/*color: #003366 !important;*/
/*}*/