.editable {
    /*background-color: #fff8e5 !important;*/
    color: #000;
    border-bottom: dashed 1px #000;
    /*border-bottom: none;*/
}

.pac-container {
    z-index: 2000 !important;
}

.top-buffer, .buffer-top {
    margin-top: 10px;
}

.bottom-buffer, .buffer-bottom {
    margin-bottom: 10px;
}

.navbar-brand {
    height: 92px;
}

#header-navbar a {
    font-family: 'Noticia Text', Georgia, "Times New Roman", serif;
    font-weight: 600;
}

#main-menu {
    height: 90px;
}

#main-nav-ul {
    margin-top: 20px;
}

#heading-form div.form-group {
    margin-bottom: 0px;
}

.btn-gray {
    color: #ffffff;
    background-color: #99969C;
    border-color: #5C5C5C;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    color: #ffffff;
    background-color: #666666;
    border-color: #5C5C5C;
}

.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    background-image: none;
}

.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
    background-color: #99969C;
    border-color: #5C5C5C;
}

.btn-gray .badge {
    color: #99969C;
    background-color: #ffffff;
}

.glyphicon {
    color: #959595;
}

:required {
    background: url(https://cdn0.iconfinder.com/data/icons/fugue/icon/asterisk-small.png) no-repeat;
    background-position: right top;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.address_description {
    font-weight: bold;
}

.g-recaptcha {
    float: right;
}

.has-tip {
    display: inline-block;
}

blockquote {
    padding: 0px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;

}

#tool-menu-nav {
    background-color: #006C86;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.form-control {
    border-color: #10101047;
}

#main-nav-ul li a {
    color: #777;
}

@media only screen and (max-width: 768px) {
    #app-menu-list li a {
        color: white !important;
    }
}

.promo_sidebar {
    /*height: 32.5vh;*/
    border: 1px solid #10101047;
    /*overflow-y: auto;*/
    background: #f8f9fb;
    border-radius: 10px;
}

.btn-secondary {
    background: #2a3f54 !important;
    color: #fff !important;
}

.sidebar {
    height: 65vh;
    border: 1px solid #e3e3e3;
    /*overflow-y: scroll;*/
    background: #f8f9fb;
    border-radius: 10px;
}

.sidebar > form, .sidebar > p > ul, .sidebar > p > form, .sidebar > ul {
    overflow-y: scroll;
    height: 57vh;
}

.promo_sidebar ul {
    overflow-y: scroll;
    height: 27.5vh;
}

.main-con-header {
    background: #d7e1e3;
    padding: 15px;
    margin: 0;
    color: #008081;
    text-align: center;
}

.script-box {
    background: #71a9a8;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    margin-right: 1%;
}

.script-box.col-md-4 {
    width: 32.3333%;
}

.script-box.col-md-3 {
    width: 24%;
}

.script-box input {
    border: 1px solid #ccc;
    font-style: italic;
}

.col-xs-15 {
    width: 19%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-60 {
    width: 59.3333%;
    float: left;
    margin: 0 1% 0 1%;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-20 {
    width: 19%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.tool-menu {
    text-align: center;
    text-transform: uppercase;
    color: #008081;
    font-weight: bold;
}

.heading {
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    color: #008081;
    font-weight: bold;
    /*margin: 25px auto;*/
}

.input-group-addon {
    background-color: #d7e1e3 !important;
}

.table-heading {
    background: #008080cf;
    color: #fff;
}

body {
    padding-right: 0 !important
}

.popover {
    max-width: unset !important;
}

div[id^="delete"] .modal-body {
    height: 20%;
}

div[id^="add"] .modal-body {
    height: 20%;
}

.editor-body {
    height: 55vh;
    overflow-y: auto;
}

.modal-xl {
    width: 90% !important;
}

.full-screen {
    height: 75vh !important;
}

.full-screen > form {
    height: 67vh !important;
}

::-webkit-input-placeholder {
    font-style: italic;
}

select {
    font-style: italic;
}

.yellow_row {
    background: #FFFFE0 !important;
}

.tsl_location, .tsl_prepared_by, .tsl_criteria, #sa-div textarea, #collab-dialog-row select,
#view-asset-info-dialog textarea, #view-buyer-preference-dialog textarea,
#view-call-notes-dialog textarea {
    width: 100% !important;
}

#add-client-dialog .col-xs-14 {
    width: 15%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

#add-buyer-dialog .col-xs-14 {
    width: 15%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.collab-button {
    background: transparent !important;
}

#view-criteria-title, #client-criteria-title, #view-location-title {
    display: inline-block;
}

button#add-criteria-button, #choose-criteria-button, #choose-location-button {
    float: right;
    margin: 10px;
}

button#add-client-criteria-button {
    float: right;
    margin: 10px;
}

/*Increase the font size for textarea content in full-screen view.*/
.full-screen textarea {
    font-size: 125%;
}

.sidebar, body#tinymce {
    font-size: 17px;
}

#cap {
    font-size: 1.3em;
    text-align: center;
}

.collaborator_data {
    background: rgb(255, 251, 237);
}

.panel-heading {
    padding: 0;
}

.panel-title {
    padding: 10px;
}

.panel {
    background: transparent;
}

.table-name {
    height: 45px !important
}

#image-div:hover #owner-avatar {
    opacity: 0.3;
}

#image-div:hover .upload {
    opacity: 1;
}

#client-image-div:hover #owner-avatar {
    opacity: 0.3;
}

#client-image-div:hover .upload {
    opacity: 1;
}

.upload-asset-image:hover #asset-avatar {
    opacity: 0.3;
}

.upload-asset-image:hover .upload {
    opacity: 1;
}

.upload-comps-image:hover #agent-comps-avatar {
    opacity: 0.3;
}

.upload-comps-image:hover .upload {
    opacity: 1;
}

.upload {
    opacity: 0;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    transition: .5s ease;
    text-align: center;
}

#owner-profile-row .popover {
    width: 25vw;
}

#add-tsl-dialog select, #add-tsl-dialog input {
    margin: 0 20% 0 20%;
    width: 13vw;

}

#compose-promo-form, #script-container, #outline-form, #tsl-promo-nav li, #component-container {
    color: #838383;
}

.collab-box {
    border: solid 1px #71a9a8;
    padding: 10px;
    border-radius: 10px;
    color: #71a9a8;
    font-size: 17px;
    margin: 1%;
}

span.input-group-addon {
    background-color: #b3b3b3 !important;
}

#view-sa-dialog .btn-default {
    background: transparent;
    border: none;
    font-size: 17px;
}

#view-sa-dialog label, #view-sa-dialog h4 {
    margin-top: 25px;
}

#reader-body {
    height: 60vh;
    overflow: hidden;
}

.modal-title {
    display: inline;
}

.send-collab-div {
    padding: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.selected-row {
    background-color: #EAF2D3 !important;
}

.quick-field-tag {
    width: 2vw !important;
    min-width: 0 !important;
}

#quick-project-table * textarea.form-control, #quick-project-table * select.form-control {
    width: auto;
}

textarea {
    overflow: hidden;
}

.col-xs-30 {
    width: 12%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.quick-tool-who {
    width: 4vw !important;
}

#add-client-form select {
    width: 100%;
}

.add-client-asset {
    margin: 15px 0 15px 0;
}

.add-client-info-row {
    background: #8ff1fd;
    padding: 10px;
}

.add-buyer-info-row {
    background: #8ff1fd;
    padding: 10px;
}

.popover-title > h3 {
    display: inline
}

.feature-div > .input-group {
    margin: 10px;
}

#view-asset-info-dialog a, #outlook-email-client-dialog a,
#view-profile-reader-dialog a, #view-agent-profile-dialog a, #owner-pics-div a, #owners-info-div a {
    color: #404040;
}

#view-asset-info-dialog i {
    color: #00000073;
}

#view-asset-info-dialog li, #view-sgd-dialog ul li, #view-agent-profile-dialog li, #owner-pics-div li, #owners-info-div li,
#outlook-email-client-dialog li, #view-profile-reader-dialog li {
    padding: 0 20px 0 20px;
    margin: 0 5px 0 5px;
    border: solid 2px #a9a9a9;
    text-align: center;
}

#view-sgd-dialog ol li {
    margin: 10px;
    font-weight: bolder;
}

#view-sgd-dialog ol li textarea {
    width: 100%;
}

#sgd-tab-body div {
    margin: 10px;
    border: solid 1px #eee;
}

#view-asset-info-dialog .editable {
    font-size: larger;
}

#view-source-dialog li {
    font-size: 16px;
}

#view-asset-info-dialog li.active, #view-asset-info-dialog li.active > a,
#view-agent-profile-dialog li.active, #view-agent-profile-dialog li.active > a,
#owner-pics-div li.active, #owner-pics-div li.active > a,
#owners-info-div li.active, #owners-info-div li.active > a,
#view-sgd-dialog li.active, #view-sgd-dialog li.active > a, #outlook-email-client-dialog li.active,
#outlook-email-client-dialog li.active > a, #view-profile-reader-dialog li.active,
#view-profile-reader-dialog li.active > a {
    background: #eee;
}

#view-asset-info-dialog li.active > a, #outlook-email-client-dialog li.active > a {
    border: none;
}

#view-reminder-dialog {
    font-size: 17px
}

.acm-objective {
    width: 100% !important;
    font-size: 18px;
}

#select-acm-duration {
    width: auto;
}

.acm-objective-item {
    color: #000000;
}

.dropdown-submenu li.active {
    background: #add8e6;
}

.acm-objective {
    background: #fff;
}

.mark-alert-done {
    width: 20px;
    height: 20px;
}

#view-alert-dialog .fa {
    color: #333333de;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #006C86;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidenav li {
    padding: 0px 8px 0px 32px;
    text-decoration: none;
    /*font-size: 25px;*/
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav a {
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}

.dropdown-menu li {
    padding: 0;
}

.sidenav ul {
    right: auto !important;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.modal-sgd {
    width: 60% !important;
}

#view-sgd-dialog ul li {
    width: 9vw;
}

#view-sgd-dialog li a {
    color: #333 !important;
    font-weight: bold;
}

.select-picker button {
    background: #fff;
}

#email-menu > li > a {
    padding: 10px 20px 0 10px;
}

.ccm-box {
    border: solid 3px #a4a4a4ad;
}

.ccm-dialog {
    width: 97%;
}

.ccm-dialog h4.text-center, .ccm-dialog h1.text-center, .ccm-dialog h3.text-center {
    font-weight: bold;
    color: #7E7E7E;
}

.ccm-box .form-control {
    border-color: #1010106b;
}

.ccm-box input:disabled {
    background: #fff;
}

.team-split-span {
    margin: 0 5px 0 30px;
    float: right;
}

.ccm-box hr {
    border-top: 1px solid #a4a4a463;
}

#owner-profile-row p {
    margin: 0 0 1px 0;
}

#client-info-dialog .popover {
    width: 25vw;
}

#view-agent-profile-dialog .popover {
    width: 25vw;
}

#client-info-dialog .popover textarea, #view-agent-profile-dialog .popover textarea {
    width: 100%;
}

#client-info-dialog select.form-control {
    width: 100% !important;
}

.agent-asset-image {
    width: 11vw;
}

#agent-track + .popover {
    white-space: nowrap;
    /*width: auto;*/
    width: 55vw;
    overflow: scroll;
}

.agent-asset-active, .owner-asset-active {
    background: #bfbaba;
}

.back-button, .collab-back-button {
    margin-bottom: 5px;
    background-color: transparent !important;
    position: absolute;
}

#homebase-div .upload, #portfolio-div .upload, #buyer-div .upload, #view-owner-profile-dialog .upload {
    position: absolute;
    top: auto !important;
    bottom: 10px;
    left: auto;
    right: auto;
    width: 100%;
}

#agents-info-div h4 {
    text-align: left;
    white-space: nowrap;
}