#tgd-table {
    border: 5px ridge;
    margin-top: 10px;
}

/*#tgd-table thead.main-table tr th:nth-child(2), #tgd-table thead.main-table tr th:nth-child(7) {*/
/*color: rgba(0, 0, 0, 0.50);*/
/*}*/

.tgd-head {
    background: #008080;
    color: #fff;
}

.tgd-head .editable, .tgd-head .glyphicon {
    color: #fff !important;
}

.tgd-head .popover {
    color: #000 !important;
}

.condition-name {
    font-size: 1.5em;
}

.condition-label-name {
    font-size: 1em;
    font-weight: bolder;
}

.cell-1-1, .cell-4-6 {
    background-color: rgba(197, 205, 211, 0.5);
}

.cell-2-1, .cell-3-6 {
    background-color: rgba(197, 205, 211, 0.5);
    /*background-color: rgba(70, 130, 180, 0.5);*/
    /*background-color: rgba(143, 188, 143, 0.5);*/
}

.cell-1-2, .cell-4-5 {
    background-color: rgba(197, 205, 211, 0.5);
    /*background-color: rgba(70, 130, 180, 1);*/
    /*background-color: rgba(143, 188, 143, 1);*/
}

.cell-4-2, .cell-3-3, .cell-2-4, .cell-1-5 {
    background-color: rgba(197, 205, 211, 0.5);
    /*background-color: rgba(70, 130, 180, 1);*/
    /*background-color: rgba(143, 188, 143, 1);*/
}

.cell-3-1, .cell-2-6 {
    background-color: rgba(197, 205, 211, 0.5);
}

.cell-2-2, .cell-1-3, .cell-4-4, .cell-3-5 {
    background-color: rgba(197, 205, 211, 0.5);
}

/*.cell-4-1, .cell-1-6 {*/
/*background-color: rgba(178, 34, 34, 0.5);*/
/*}*/
/*.cell-3-2, .cell-2-3, .cell-1-4, .cell-4-3, .cell-3-4, .cell-2-5 {*/
/*background-color: rgba(178, 34, 34, 1);*/
/*}*/
.cell-table {
    margin-bottom: 0px;
}

.table-condensed .shaded {
    font-weight: normal;
}

.table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    font-weight: bold;
}

.table-condensed > thead > tr {
    background-color: #8ff1fd;
}

.main-table tr td:first-child {
    vertical-align: middle;
}

.table-condensed tfoot tr td {
    border-top: 5px solid #ddd;
    background: rgba(241, 241, 241, 1);
}

.main-table > tr {
    border: 8px solid #008080;
}

tbody.main-table > tr:last-child {
    border-bottom: none;
}

.main-table > tr:last-child {
    border-top: none;
}

.tgd-opaque {
    opacity: 0.7;
}

.tgd-opaque * {
    background-color: #FFFFE0 !important;
}