#tgd-metrics-row span, #tgd-metrics-row label {
    word-spacing: 100vw;
}

#tgd-metrics-row h5 {
    margin-top: 0;
}

.col-xs-14 {
    width: 14.285714286%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

#tgd-metrics-table {
    color: #777373;
    border-collapse: separate;
    border-spacing: 10px;
}

#tgd-metrics-table td {
    border: solid 5px #A4A4A4;
    padding: 20px;
}

#tgd-metrics-row .popover {
    width: 30vw;
}

