td, th {
    text-align: center;
}

.date-ref, input[type=text] {
    min-width: 7vw;
}

.table-heading {
    background-color: #8ff1fd;
    color: black;
    opacity: 0.75;
}

.table-name * {
    background: #008080;
    color: #fff;
    margin: 0 10px 0 10px;
}

.onlydate-ref {
    width: 97px;
}

.ynm-select {
    width: auto;
}

body {
    overflow-x: hidden;
}

a > div {
    display: none;
}

a:hover > div {
    display: block;
}

.phone-dialog {
    height: 80vh;
    overflow-y: auto;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    /*height: 80vh;*/
    /*overflow-y: auto;*/
}

.modal-small {
    height: auto !important;
}

body {
    padding-right: 0 !important
}

.btn-group.bootstrap-select.date-ref.edit-client-info {
    width: 8vw !important;
    background-color: #fff;
}

.select {
    max-height: 100px;
}

.table {
    margin-bottom: 10px !important;
}

.add-client-info, .additional-client-info {
    background-color: #eeeeee;
}

.additional-client-info {
    margin-top: .5%;
}

.client_label {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    color: #777776;
    display: block;
}

#view-ccm-dialog input {
    min-width: auto;
}

.tsl-col-xs-11 {
    width: 14.285714286%;
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

.scoreboard-span {
    color: #2F4F4F;
    display: inline-block;
    border: solid 1px #eaeaea;
    width: 8%;
    height: 90%;
    /*margin: 10px;*/
    text-align: center;
}
