.sidebar {
    /*height: 65vh;*/
    border: 1px solid #10101047;
    /*overflow-y: auto;*/
}

.attach_next_prev {
    padding-left: 8vw;
    padding-bottom: 5px;
    padding-top: 2px;
}

.preview_delete {
    padding-left: 46px;
}

.preview_add {
    padding-left: 111px;
}

trix-editor {
    min-height: 55vh !important;
}

.email_attachment {
    padding-top: 5px;
    /*padding-left: 144px;*/
}

.ajax-loader {
    margin-left: 50%;
}

.active {
    text-decoration: none;
    background-color: #eee;
}

body {
    padding-right: 0 !important
}

.active_outline {
    background-color: #d6d6d6 !important;
}

.ans, #outline-form {
    font-size: 17px;
}

#profile-record-view {
    height: 68vh;
    overflow-y: scroll;
}

