.sidebar {
    height: 65vh;
    border: 1px solid #10101047;
    /*overflow-y: auto;*/
}

trix-editor {
    min-height: 55vh !important;
}

.email_attachment{
    padding-top: 5px;
    padding-left: 144px;
}

.ajax-loader {
    margin-left:50%;
}

.active-msg {
    text-decoration: none;
    background-color: #eee;
}

.active {
    text-decoration: none;
    background-color: #eee;
}

.active-seq {
    text-decoration: none;
    background-color: #eee;
}

body {
    padding-right: 0 !important
}

textarea {
    font-size: 17px !important;
}

.active_outline {
    text-decoration: none;
    background-color: #d6d6d6;
}

