.attach_next_prev {
    padding-left: 8vw;
    padding-bottom: 5px;
    padding-top: 2px;
}

.preview_delete {
    padding-left: 46px;
}

.preview_add {
    padding-left: 111px;
}

.trix-editor {
    min-height: 55vh !important;
}

.ajax-loader {
    margin-left:50%;
}

.active, .active_pdf, .active_outline {
    text-decoration: none;
    background-color: #d6d6d6;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    /*height: 80vh;*/
    overflow-y: auto;
}

.modal-small {
    height: auto !important;
}


/*.modal-body {*/
    /*height: 80vh;*/
    /*overflow-y: auto;*/
/*}*/

#promo-outline-body {
    max-height: 40vh;
    overflow-y: scroll;
}

/*.modal-small {*/
    /*height: auto;*/
/*}*/

body {
    padding-right: 0 !important
}

blockquote {
    padding: 0px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: none;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;

}

.promo-row {
    font-size: 17px;
}

/*.btn-secondary  {*/
    /*width: 6vw;*/
/*}*/

