.script_sidebar {
    height: 65vh;
    border: 1px solid #10101047;
    /*overflow-y: auto;*/
}

/*.script_attachment {*/
    /*display: none;*/
/*}*/

trix-editor {
    min-height: 55vh !important;
}

#script_buttons{
    display: inline-block;
    padding-top: 5px;
    /*padding-left: 147px;*/
}

.active {
    text-decoration: none;
    background-color: #eee;
}

.ynm-script-select {
    padding: 0px;
    height: 30px;
    width: 40px;
}

.ynm-row {
    padding-bottom: 8px;
}

.modal-lg {
    width: 1231px;
}

th {
    text-align: center;
}

.score-dialog {
    overflow-y: initial !important
}
.score-body {
    height: 55vh;
    overflow-y: auto;
}

.score-row {
    background: white;
}

/*textarea {*/
    /*font-size: 17px !important;*/
/*}*/
