#am-table {
    border: 5px ridge;
    margin-top: 10px;
}

.metric-name {
    font-size: 1.5em;
}

.am-cell {
    background-color: rgba(197, 205, 211, 0.5);
}
.cell-table {
    margin-bottom: 0px;
}
.table-condensed .shaded {
    font-weight: normal;
}
.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    font-weight: bold;
}
.table-condensed>thead>tr {
    background-color: rgba(241, 241, 241, 1);
}
.main-table tr td:first-child {
    vertical-align: middle;
}
.table-condensed tfoot tr td {
    border-top: 1px solid #888;
    background-color: rgba(241, 241, 241, 1);
}
#heading-form div.form-group {
    margin-bottom: 0px;
}
.btn-gray { 
  color: #ffffff; 
  background-color: #99969C; 
  border-color: #5C5C5C; 
} 
 
.btn-gray:hover, 
.btn-gray:focus, 
.btn-gray:active, 
.btn-gray.active, 
.open .dropdown-toggle.btn-gray { 
  color: #ffffff; 
  background-color: #666666; 
  border-color: #5C5C5C; 
} 
 
.btn-gray:active, 
.btn-gray.active, 
.open .dropdown-toggle.btn-gray { 
  background-image: none; 
} 
 
.btn-gray.disabled, 
.btn-gray[disabled], 
fieldset[disabled] .btn-gray, 
.btn-gray.disabled:hover, 
.btn-gray[disabled]:hover, 
fieldset[disabled] .btn-gray:hover, 
.btn-gray.disabled:focus, 
.btn-gray[disabled]:focus, 
fieldset[disabled] .btn-gray:focus, 
.btn-gray.disabled:active, 
.btn-gray[disabled]:active, 
fieldset[disabled] .btn-gray:active, 
.btn-gray.disabled.active, 
.btn-gray[disabled].active, 
fieldset[disabled] .btn-gray.active { 
  background-color: #99969C; 
  border-color: #5C5C5C; 
} 
 
.btn-gray .badge { 
  color: #99969C; 
  background-color: #ffffff; 
}
.glyphicon {
    color: #959595;
}