.control-label {
    text-align: left !important;
}

#info-container a {
    font-size: 1.5vh;
    margin: 10px;
}

p {
    margin: 0 0 2px;
    font-size: 16px;
}

#image-div:hover #info-avatar {
    opacity: 0.3;
}

#image-div:hover .upload {
    opacity: 1;
}

.upload {
    opacity: 0;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    transition: .5s ease;
    text-align: center;
}


/*#owner-info-asset-table input, #owner-info-asset-table select {*/
    /*width: auto !important;*/
/*}*/