.wrapper {
    padding: 15px 0;
}

.bs-example-tabs .nav-tabs {
    margin-bottom: 15px;
}

.cpd-text {
    width: 100px !important;
}

.modal-dialog {
    /*overflow-y: initial !important*/
}

/*.modal-body {*/
/*overflow-y: auto;*/
/*}*/

th {
    padding-right: 10px !important;
    font-style: italic;
}

.table-heading th {
    font-style: normal;
}

.table-heading {
    background-color: #8ff1fd;
    color: black;
    opacity: 0.75;
}

.table-name * {
    background: #008080;
    color: #fff;
}

.tab-content .form-control, .tab-content .input-group {
    width: 100% !important;
}

.tab-content .input-group-btn {
    width: 1vw !important;
}

/*#cpd-objective {*/
/*width: auto;*/
/*}*/

tr.cpd_deal, .definition {
    display: none;
}

@media only screen and (max-width: 768px) {
    .total-head {
        display: block;
    }

    .nav-tabs > li {
        width: 48%;
    }

    .nav-tabs > a {
        width: 100%;
        text-align: center;
        vertical-align: top;
    }
}

.info-label {
    display: block;
    text-align: center;
}

.additional-row {
    margin-top: 10px;
}

.maintainer > td .btn, .maintainer > td .form-control {
    height: 0
}

.additional-client-info {
    margin-top: 3vh;
}

#view-owner-profile-dialog select.form-control, .info-select {
    width: 100% !important;
}

.cpd-client-phone {
    min-width: 8vw !important;
}

#cpd-objective {
    width: auto;
}


/*#scoreboard-control div {*/
/*padding-top: 25px;*/
/*}*/

.col-xs-14 {
    width: 14%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}