#titles {
    overflow: hidden;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
}
#titles div#the-end {
    font-size: 60px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 0 12px #ffffff;
    width: 100%;
    text-align: center;
}
#credits {
    margin: 20px;
    color: #000;
    position: absolute;
}
#credits h1 {
    color: #888888;
    width: 100%;
    height: 100%;
    margin: 50px 0 0 50px;
    text-align: center;
    font-size: 12px;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
}
#credits dl {
    margin: 0px auto;
}
#credits dt {
    float: left;
    width: 260px;
    margin: 0;
    padding: 13px 0 0 0;
    text-align: right;
    font-family: "Arial Narrow", sans-serif;
    font-size: 20px;
    clear:left;
}
#credits dd {
    width: 100%;
    margin: 0 0 0 280px;
    padding: 13px 0 0 0;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#credits p {
    width: auto;
    margin: 14px;
    /*text-align: center;*/
    font-family: Arial, sans-serif;
    font-size: 25px;
}
#credits .fineprint {
    color: #888888;
    width: 100%;
    margin: 80px 0 0 50px;
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
}
.clearfix: after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* close commented backslash hack */